* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #55439E, #952FFF);
    height: 100vh;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-left-bottom {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

#img-left-top {
    width: 290.25px;
    height: 267.16px;
    position: absolute;
    top: -100px;
    left: -40px;
}

#img-right {
    width: 500px;
    height: 610px;
    position: absolute;
    right: 0;
    top: 30px;
}
.info {
    width: 100%;
    max-width: 1117px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.info-title {
    width: 480px;
}

.info-title h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    color: white;
    font-family: Lato, sans-serif;
    width: 431px;
    margin-top: 0;
    margin-bottom: 20px;
}

.info-title p {
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 383px;
    margin-top: 0;
    margin-bottom: 60px;
}

.info-submit {
    width: 100%;
    position: relative;
}

.info-submit input {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    position: absolute;
}

.info-submit input::placeholder {
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #CDBFD8;
    padding-left: 30px;
}

.info-submit button {
    width: 120px;
    height: 60px;
    background-color: #4F3AA7;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: white;
    outline: none;
    border: none;
    position: relative;
    top: 12px;
    left: 350px;
}

.info-card .card {
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    border-radius: 20px;
    position: relative;
    padding: 40px 50px;
}

.info-card .card::before {
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 20px 0 0 20px;
}

.info-card .card::after {
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.card-title h2 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-top: 0;
    margin-bottom: 46px;
}

.card-chip {
    margin-bottom: 45px;
}

.card-chip img {
    width: 60px;
    height: 43px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}
.card-footer div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-footer-info p{
    margin: 0;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
    letter-spacing: 0.05em;
}

.card-footer-info p:first-child{
    margin-bottom: 8px;
    letter-spacing: 0.07em;
}

.card-footer-info p:last-child {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.card-footer-date {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: white;
}