:root {
    --vermelho: #E50914;
    --preto: #141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}





.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}