* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 85%;
}
/* HEADER */
header {
    background-color: #F7C7B9;
}

header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    gap: 0.50rem;
    font-size: .75rem;
    color: #161212;
    font-weight: 500;
}
header h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

header ul {
    display: flex;
}

header li {
    padding: 20px;
    color: #161212;
}

/* AREA 1 */
#area-1 {
    background-color: #F7C7B9;
    padding: 3rem 0;
}

.area-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.area-1 h1 {
    font-size: 3rem;
    color: #161212;
    font-weight: 600;
    line-height: 1.05;
    margin-bottom: 1.5rem;
}

.area-1 p {
    color: #404040;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.button {
    color: #F9F9F9;
    background-color: #DA2535;
    height: 3rem;
    padding: 0 2rem;
    border-radius: .25rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

/* AREA 2 */
#area-2 {
    padding: 3rem 0;
    background-color: #F9F9F9;
}

#area-2 .header-section-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 29rem;
    align-items: center;
    margin: auto;
}

.header-section-2 h2 {
    color: #161212;
    font-weight: 600;
    font-size: 3rem;
}

.header-section-2 p {
    color: #404040;
    font-weight: 400;
    
}

.items-section-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.item {
     width: 12.5rem;
}

.items-section-2 img + p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #161212;
    margin-bottom: 0.75rem;
}
.items-section-2 p {
    text-align: center;
    color: #8D8D8D;
    font-size: 1rem;
    font-weight: 500;
}

/* AREA 3 */
#area-3 {
    background-color: #F7C7B9;
    padding: 3rem 0;
}

.area-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.area-3-section {
    width: 30.5rem;
}
.area-3-section h2 {
    font-weight: 600;
    font-size: 3rem;
    color: #161212;
    margin-bottom: 1.2rem;
    line-height: 3.25rem;
}

.area-3-section p {
    color: #404040;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

/* FOOTER */
footer .container {
    background-color: #F9F9F9;
}
#area-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.social-midia {
    display: flex;
    gap: 2.688rem;
}

.social-midia figure {
    background-color: #F7C7B9;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-midia img {
    width: 24px;
}
